* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/train.jpg);
}

.wrapper {
    min-width: 1170px;
    max-width: 100%;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;

}

.logo {
    text-align: center;
    background-color: #ffffd9;
    padding-top: 20px;
}

.logo img {
    max-width: 100px;
}

.col {

    background-color: white;
    text-align: center;
    border-radius: 50px;
    border: 3px solid black;
}

.dati-input {
    display: flex;
}

.title {
    flex-basis: 20%;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.show {
    opacity: 1;
}
.flex {
    display: flex;
}
.hidden {
    opacity: 0;
}

.offerta {
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
}

.btn {
    border-radius: 20px;
    background-color: aquamarine;
    display: inline-block;
    padding: 5px;
}